<div class="answer-container">
  <h1>Stupid Coaching</h1>
  <% if @question.empty? %>
  <div class="answer-content">
    <p style="text-align: center">You need to ask a question, Obvi...</p>
  </div>
    <%= link_to "try again", ask_path %>
  <% else %>
  <div class="answer-content align-right">
    <p><%= @question.capitalize %></p>
    <p><i>-You</i></p>
  </div>
  <div class="answer-content align-left">
    <p><%= @answer %></p>
    <p><i>-Your Coach</i></p>
  </div>
  <%= link_to "Ask Another Question", ask_path %>
  <% end %>
</div>
